@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
}

header {
    width: 100%;
    height: 450px;
    color: #fff;
    background-color: var(--blue);
    text-align: center;
}

header h1 {
    font-size: 4.8rem;
    padding-top: 100px;
    font-weight: 700;
}

header p {
    max-width: 553px;
    margin: 30px auto;
    font-weight: 400;
    font-size: 1.8rem;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    width: 355px;
    height: 470px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    transform: translateY(-120px);
    background-color: #fff;
    box-shadow: 2px 5px 5px #1E2338;
}

.box-meio {
    width: 355px;
    height: 490px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    transform: translateY(-140px);
    background-color: #fff;
    box-shadow: 2px 5px 5px #1E2338;
}

.content-meio {
    padding: 0 30px 0;
}

.box-header {
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 8px 8px 0 0;
}

.popular {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    padding: 8px 24px;
    background-color: #1d539e;
    border-radius: 40px;
    font-family: 'Open Sans', sans-serif;
}

.box-title {
    font-weight: 600;
    font-size: 1.8rem;
    color: #1E2338;
}

.dinheiro-grande{
    font-size: 3.8rem;
    color: #1E2338;
    font-weight: 700;
}

.dinheiro-pequeno {
    font-size: 1.8rem;
    color: #1E2338;
    font-weight: 700;
}

.mes {
    font-size: 1.8rem;
    color: #828799;
    margin-top: 20px;
}

.pos-valor {
    font-size: 1.4rem;
    color: #828799;
}

hr {
    width: 295px;
    margin: 20px 
    auto;
    color: #fff;
}

ul {
    font-size: 1.4rem;
    font-weight: 600;
    color: #828799;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li::before {
    content: url(../assets/check.svg);
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

button {
    width: 296px;
    padding: 12px 24px;
    color: var(--blue);
    background-color: #fff;
    border: 1px solid var(--blue);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: auto;
}

.blue {
    background-color: var(--blue);
    color: #fff;
    border: 1px solid #fff;
    margin: auto 30px 30px;
}

.box-title-blue {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--blue);
}

@media screen and (max-width: 1176px) {
    .flex {
        flex-direction: column;
        align-content: center;
    }

    .box-meio {
        transform: translateY(-120px);
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 8px;
    }

    header p {
        margin-right: 20px;
        margin-left: 20px;
    }
}
